archive/
tools/wtfconvert/ALL Backup/
tools/wtfconvert/Logs
tools/wtfconvert/WoW Saved
tools/wtfconvert/WoW WTFBackUp
tools/wtfconvert/WoWLocalFilesManagement_config.ini
tools/wtfconvert/魔兽世界本地文件管理工具0.6 (64位).exe
tools/wtfconvert/【官服用】wtf备份同步0.6.64.zip
