<Ui xmlns="http://www.blizzard.com/wow/ui/"   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   xsi:schemaLocation="http://www.blizzard.com/wow/ui/">

    <Script file="Settings.lua"/>

    <Slider name="ImprovedAddonListSettingsSliderTemplate" mixin="ImprovedAddonListSettingsSliderMixin" orientation="HORIZONTAL" virtual="true">
		<ThumbTexture parentKey="Thumb" file="Interface\Addons\ImprovedAddonList\Media\slider_thumb.png">
            <Size x="14" y="14"/>
        </ThumbTexture>
        <Layers>
            <Layer>
                <Texture parentKey="TrackInactive" file="Interface\Addons\ImprovedAddonList\Media\slider_track.png">
                    <Size y="4"/>
                    <TextureSliceMargins left="4" right="4" top="4" bottom="4"/> 
                    <Anchors>
                        <Anchor point="LEFT"/>
                        <Anchor point="RIGHT"/>
                    </Anchors>
                </Texture>
                <Texture parentKey="TrackActive" file="Interface\Addons\ImprovedAddonList\Media\slider_track.png" alphaMode="ADD">
                    <Size y="4"/>
                    <TextureSliceMargins left="4" right="4" top="4" bottom="4"/>
                    <Color color="NORMAL_FONT_COLOR"/>
                    <Anchors>
                        <Anchor point="LEFT"/>
                    </Anchors>
                </Texture>
            </Layer>
        </Layers>
        <Scripts>
            <OnValueChanged method="OnValueChanged"/>
            <OnMouseDown method="OnMouseDown"/>
            <OnMouseUp method="OnMouseUp"/>
        </Scripts>
    </Slider>

    <Button name="ImprovedAddonListSettingsGroupItemTemplate" mixin="ImprovedAddonListSettingsGroupItemMixin" virtual="true">
        <Layers>
            <Layer level="OVERLAY" textureSubLevel="1">
				<FontString parentKey="Title" inherits="ImprovedAddonListButtonNormalFont" justifyH="LEFT" wordwrap="false">
                    <Anchors>
                        <Anchor point="LEFT" x="5" y="0"/>
                    </Anchors>
                </FontString>
			</Layer>
        </Layers>
        <Frames>
            <Button parentKey="Reset">
                <Size x="16" y="16"/>
                <NormalTexture file="Interface\Addons\ImprovedAddonList\Media\reset.png">
					<Color color="NORMAL_FONT_COLOR"/>
		        </NormalTexture>
                <HighlightTexture file="Interface\Addons\ImprovedAddonList\Media\reset.png" alphaMode="ADD">
					<Color color="WHITE_FONT_COLOR"/>
		        </HighlightTexture>
				<Anchors>
					<Anchor point="RIGHT" x="-5" />
				</Anchors>
                <Scripts>
                    <OnClick>
                        self:GetParent():OnResetClick()
                    </OnClick>
                    <OnEnter>
                        self:GetParent():OnResetEnter()
                    </OnEnter>
                    <OnLeave>
                        self:GetParent():OnResetLeave()
                    </OnLeave>
                </Scripts>
			</Button>
            <Button parentKey="ExpandAll">
                <Size x="16" y="16"/>
                <NormalTexture file="Interface\Addons\ImprovedAddonList\Media\expand_all.png">
					<Color color="NORMAL_FONT_COLOR"/>
		        </NormalTexture>
                <HighlightTexture file="Interface\Addons\ImprovedAddonList\Media\expand_all.png" alphaMode="ADD">
					<Color color="WHITE_FONT_COLOR"/>
		        </HighlightTexture>
				<Anchors>
					<Anchor point="RIGHT" relativeKey="$parent.Reset" relativePoint="LEFT" x="-5" />
				</Anchors>
                <Scripts>
                    <OnClick>
                        self:GetParent():OnExpandClick()
                    </OnClick>
                    <OnEnter>
                        self:GetParent():OnExpandEnter()
                    </OnEnter>
                    <OnLeave>
                        self:GetParent():OnExpandLeave()
                    </OnLeave>
                </Scripts>
			</Button>
            <Button parentKey="CollapseAll">
                <Size x="16" y="16"/>
                <NormalTexture file="Interface\Addons\ImprovedAddonList\Media\collapse_all.png">
					<Color color="NORMAL_FONT_COLOR"/>
		        </NormalTexture>
                <HighlightTexture file="Interface\Addons\ImprovedAddonList\Media\collapse_all.png" alphaMode="ADD">
					<Color color="WHITE_FONT_COLOR"/>
		        </HighlightTexture>
				<Anchors>
					<Anchor point="RIGHT" relativeKey="$parent.ExpandAll" relativePoint="LEFT" x="-5" />
				</Anchors>
                <Scripts>
                    <OnClick>
                        self:GetParent():OnCollapseClick()
                    </OnClick>
                    <OnEnter>
                        self:GetParent():OnCollapseEnter()
                    </OnEnter>
                    <OnLeave>
                        self:GetParent():OnCollapseLeave()
                    </OnLeave>
                </Scripts>
			</Button>
        </Frames>
    </Button>

    <Button name="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemMixin" virtual="true">
        <Layers>
			<Layer level="OVERLAY" textureSubLevel="1">
				<FontString parentKey="Title" inherits="ImprovedAddonListLabelFont" justifyH="LEFT" wordwrap="false"/>
                <FontString parentKey="SubTitle" inherits="ImprovedAddonListBodyFont" justifyH="LEFT" wordwrap="false"/>
			</Layer>
			<Layer level="HIGHLIGHT">
				<Texture parentKey="HighlightOverlay" atlas="Professions_Recipe_Hover" useAtlasSize="true" alpha="0.5">
					<Anchors>
						<Anchor point="TOPLEFT"/>
                        <Anchor point="BOTTOMRIGHT"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
        <Scripts>
            <OnLoad method="OnLoad"/>
            <OnEnter method="OnEnter"/>
            <OnLeave method="OnLeave"/>
        </Scripts>
	</Button>

    <Button name="ImprovedAddonListSettingsItemSingleChoiceTemplate" inherits="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemSingleChoiceMixin" virtual="true">
        <Layers>
            <Layer level="OVERLAY" textureSubLevel="1">
                <Texture parentKey="Arrow" file="Interface\Addons\ImprovedAddonList\Media\arrow.png">
                    <Size x="16" y="16"/>
                    <Anchors>
                        <Anchor point="RIGHT" x="-5" y="0"/>
                    </Anchors>
                </Texture>
				<FontString parentKey="Value" inherits="ImprovedAddonListBodyFont" justifyH="RIGHT" wordwrap="false">
                    <Anchors>
                        <Anchor point="RIGHT" relativePoint="LEFT" relativeKey="$parent.Arrow" x="-5" y="1"/>
                    </Anchors>
                </FontString>
			</Layer>
        </Layers>
        <Scripts>
            <OnClick method="OnClick"/>
        </Scripts>
    </Button>

    <Button name="ImprovedAddonListSettingsItemColorPickerTemplate" inherits="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemColorPickerMixin" virtual="true">
        <Layers>
            <Layer level="OVERLAY" textureSubLevel="1">
                <Texture parentKey="Indicator" file="Interface\Addons\ImprovedAddonList\Media\color_picker.png">
					<Size x = "16" y="16"/>
					<Anchors>
						<Anchor point="RIGHT" x="-8" y="0"/>
					</Anchors>
				</Texture>
			</Layer>
        </Layers>
        <Scripts>
            <OnClick method="OnClick"/>
        </Scripts>
    </Button>

    <Button name="ImprovedAddonListSettingsItemEditBoxTemplate" inherits="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemEditBoxMixin" virtual="true">
        <Layers>
            <Layer level="OVERLAY" textureSubLevel="1">
                <Texture parentKey="Arrow" file="Interface\Addons\ImprovedAddonList\Media\arrow.png">
                    <Size x="16" y="16"/>
                    <Anchors>
                        <Anchor point="RIGHT" x="-5" y="0"/>
                    </Anchors>
                </Texture>
				<FontString parentKey="Value" inherits="ImprovedAddonListBodyFont" justifyH="RIGHT" wordwrap="false">
                    <Anchors>
                        <Anchor point="RIGHT" relativePoint="LEFT" relativeKey="$parent.Arrow" x="-5" y="1"/>
                        <Anchor point="LEFT" relativePoint="RIGHT" relativeKey="$parent.Title" x="5" y="0"/>
                    </Anchors>
                </FontString>
			</Layer>
        </Layers>
        <Scripts>
            <OnClick method="OnClick"/>
        </Scripts>
    </Button>

    <Button name="ImprovedAddonListSettingsItemSwitchTemplate" inherits="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemSwitchMixin" virtual="true">
        <Frames>
            <Button parentKey="Toggle">
                <Size x = "24" y="24"/>
                <Anchors>
                    <Anchor point="RIGHT" x="-8" y="0"/>
                </Anchors>
                <Scripts>
                    <OnClick>
                        self:GetParent():OnClick()
                    </OnClick>
                </Scripts>
            </Button>
        </Frames>
    </Button>

    <Button name="ImprovedAddonListSettingsItemSliderTemplate" inherits="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemSliderMixin" virtual="true">
        <Frames>
            <Slider parentKey="Slider" inherits="ImprovedAddonListSettingsSliderTemplate">
                <Size y="16"/>
                <Anchors>
                    <Anchor point="LEFT" relativePoint="CENTER" relativeKey="$parent" x="5"/>
                </Anchors>
            </Slider>
        </Frames>
        <Layers>
            <Layer>
                <FontString parentKey="MinValue" inherits="GameFontWhiteTiny">
                    <Anchors>
                        <Anchor point="RIGHT" relativeKey="$parent.Slider" relativePoint="LEFT" x="-3" y="1"/>
                    </Anchors>
                </FontString>
                <FontString parentKey="MaxValue" inherits="GameFontWhiteTiny">
                    <Anchors>
                        <Anchor point="RIGHT" x="-5" y="1"/>
                    </Anchors>
                </FontString>
                <FontString parentKey="Value" inherits="GameFontNormalTiny" hidden="true">
                    <Anchors>
                        <Anchor point="BOTTOM" relativeKey="$parent.Slider.Thumb" relativePoint="TOP" x="0" y="5"/>
                    </Anchors>
                </FontString>
            </Layer>
        </Layers>
        <Frames>
            <Button parentKey="Confirm">
                <Size x="18" y="18"/>
                <NormalTexture file="Interface\Addons\ImprovedAddonList\Media\slider_confirm.png"/>
                <Anchors>
                    <Anchor point="RIGHT" relativePoint="LEFT" relativeKey="$parent.MinValue" x="-2" y="0"/>
                </Anchors>
                <Scripts>
                    <OnClick>
                        self:GetParent():OnConfirmClick()
                    </OnClick>
                    <OnEnter>
                        self:GetParent():OnConfirmEnter()
                    </OnEnter>
                    <OnLeave>
                        self:GetParent():OnConfirmLeave()
                    </OnLeave>
                </Scripts>
            </Button>
        </Frames>
    </Button>

    <Button name="ImprovedAddonListSettingsItemDynamicEditBoxTemplate" inherits="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemDynamicEditBoxMixin" virtual="true">
        <Layers>
            <Layer level="OVERLAY" textureSubLevel="1">
                <Texture parentKey="Add" file="Interface\Addons\ImprovedAddonList\Media\add.png">
                    <Size x="16" y="16"/>
                    <Anchors>
                        <Anchor point="RIGHT" x="-5" y="0"/>
                    </Anchors>
                </Texture>
			</Layer>
        </Layers>
        <Scripts>
            <OnClick method="OnClick"/>
        </Scripts>
    </Button>

    <Button name="ImprovedAddonListSettingsItemDynamicEditBoxItemTemplate" inherits="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemDynamicEditBoxItemMixin" virtual="true">
        <Frames>
            <Button parentKey="Delete">
                <Size x="16" y="16"/>
                <NormalTexture file="Interface\Addons\ImprovedAddonList\Media\delete.png"/>
                <Anchors>
                    <Anchor point = "RIGHT" x="-5" y="0"/>
                </Anchors>
                <Scripts>
                    <OnClick>
                        self:GetParent():OnDelete()
                    </OnClick>
                    <OnEnter>
                        self:GetParent():OnDeleteEnter()
                    </OnEnter>
                    <OnLeave>
                        self:GetParent():OnDeleteLeave()
                    </OnLeave>
                </Scripts>
            </Button>
        </Frames>
        <Scripts>
			<OnLoad inherit="append" method="OnAppendLoad"/>
        </Scripts>
    </Button>

    <Button name="ImprovedAddonListSettingsItemMultiChoiceTemplate" inherits="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemMultiChoiceMixin" virtual="true">
        <Layers>
            <Layer level="OVERLAY" textureSubLevel="1">
                <Texture parentKey="CollapseStatus">
                    <Size x="16" y="16"/>
                    <Anchors>
                        <Anchor point="RIGHT" x="-5" y="0"/>
                    </Anchors>
                </Texture>
			</Layer>
        </Layers>
        <Scripts>
            <OnClick method="OnClick"/>
        </Scripts>
    </Button>

    <Button name="ImprovedAddonListSettingsItemMultiChoiceItemTemplate" inherits="ImprovedAddonListSettingsItemTemplate" mixin="ImprovedAddonListSettingsItemMultiChoiceItemMixin" virtual="true">
        <Layers>
            <Layer level="OVERLAY" textureSubLevel="1">
                <Texture parentKey="CheckStatus">
                    <Size x="16" y="16"/>
                    <Anchors>
                        <Anchor point="RIGHT" x="-5" y="0"/>
                    </Anchors>
                </Texture>
			</Layer>
        </Layers>
        <Scripts>
			<OnLoad inherit="append" method="OnAppendLoad"/>
            <OnClick method="OnClick"/>
        </Scripts>
    </Button>
</Ui>